{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Create Task{% endblock %}

{% block content %}
<div class="task card-wrapper">

    {% if update %}
        <form method="POST" action="{% url 'task-delete' task.pk %}">
            {% csrf_token %}
            <button class="task__delete">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </form>
        <h1>Edit Task</h1>
    {% else %}
        <h1>Create Task</h1>
    {% endif %}

    <form method="POST">
        <div class="errors">
            {{ form.errors }}
        </div>
        {% csrf_token %}

        <label>{{ form.title.label }}</label>
        {% render_field form.title required="true" class+="form-control" %}

        <label>{{ form.description.label }}</label>
        {% render_field form.description rows="4" class+="form-control" %}

        <label>{{ form.due_date.label }}</label>
        {% render_field form.due_date type="date" class+="form-control" %}

        <button class="btn btn-success btn-center btn-fullwidth" type="submit">
            {% if update %}
                Save
            {% else %}
                Add
            {% endif %}
        </button>
    </form>
</div>
{% endblock %}
